[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pillow = "*"
opencv-python = "*"
ipython = "*"
toml = "*"

[dev-packages]
black = "*"
pytest = "*"
mypy = "*"
pre-commit = "*"

[requires]
python_version = "3.11"
